@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.title-cabecera {
    text-align: center;
    font-family: "lato", sans-serif;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form h1 {
    font-weight: bold;
}

.login-input {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.submitBtn {
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: rgb(144, 137, 238);
    color: white;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: #9867C5;
}

.container h1 {
    margin-top: 2%;
    margin-bottom: 2%;
}